<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<link rel="stylesheet" href="../public/css/listatarea.css">
<link rel="stylesheet" href="../public/css/menus.css">
    
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Personal Blog</a></div>
            <ul class="links">
                <li><a href="../index.php">Home</a></li>
                <li><a href="#">Proyects</a></li>
                <li><a href="#">others</a></li>
                <li><a href="#">others</a></li>
            </ul>
            <a href="#" class="actionbtn">Contact</a>
            <div class="toggle"><i class="fa-solid fa-bars"></i></div>
        </div>

        <div class="dropdownmenu">
            <li><a href="../index.php">Home</a></li>
                <li><a href="#">Proyects</a></li>
                <li><a href="#">others</a></li>
                <li><a href="#">others</a></li>
                <li><a href="#" class="actionbtn">Contact</a></li>
        </div> 
    </header>



    <div class="list roundborder">
        <div class="date">
            <div class="dateright">
                <div class="datenumber" id="datenumber"></div>
                <div>
                    <div  class="datemonth" id="datemonth"></div>
                    <div  class="dateyear" id="dateyear"></div>
                </div>
            </div>
            <div id="datetext" class="datetext"></div>
        </div>
        <form onsubmit="addNewTask(event)">
            <input type="text" name="taskText" autocomplete="off" placeholder="Nueva Tarea" class="roundborder">
            <button type="submit" class="addTaskButton">+</button>
            <button type="button" class="orderbutton roundborder" onclick="renderorderedtasks()">Ordenar</button>
        </form>
        <div class="taskscontainer" id="taskscontainer"></div>
    </div>


    <script src="../public/js/listatarea.js"></script>
    <script src="../public/js/menus.js"></script>
</body>
</html>