<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<label for="">meses</label>
<input type="text" id="meses" class="meses">
<br>

<label for="">alquiler</label>
<input type="text" id="alquiler">

<button type="button" onclick="sumarfun()" id="calcular">calcular</button>
<br>

<p id="sumando"></p>

<script src="../public/js/teoria.js?v=<?php echo(rand()); ?>"></script>

</body>
</html>