<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/menus.css">
    <link rel="stylesheet" href="../public/css/vermasapp.css">
        
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Personal Blog</a></div>
            <ul class="links">
                <li><a href="../index.php">Home</a></li>
                <li><a href="#">Proyects</a></li>
                <li><a href="views/Formulario.php">blog</a></li>
                <li><a href="#">others</a></li>
            </ul>
            <a href="#" class="actionbtn">Contact</a>
            <div class="toggle"><i class="fa-solid fa-bars"></i></div>
        </div>

        <div class="dropdownmenu">
            <li><a href="../index.php">Home</a></li>
                <li><a href="#">Proyects</a></li>
                <li><a href="views/Formulario.php">blog</a></li>
                <li><a href="#">others</a></li>
                <li><a href="#" class="actionbtn">Contact</a></li>
        </div>
    </header>
    
    <div class="container">
        <h1 class="heading">APPS</h1>

        <div class="box-container">
            <div class="box">
                <img src="../public/src/paint.png" alt="">
                <h3>Paint</h3>
                <p>Paint cuenta con herramientas para el dibujo a mano alzada, insertar formas, incluir colores de relleno.</p>
            
                <a href="../views/paint.html" class="btn">Entrar</a>
            </div>

            <div class="box">
                <img src="../public/src/note.png" alt="">
                <h3>Note</h3>
                <p>Un intuitivo Bloc de notas en línea diseñado para una escritura rápida y una toma de notas fluida en la web. </p>
            
                <a href="../views/note.html" class="btn">Entrar</a>
            </div>

            <div class="box">
                <img src="../public/src/calc.png" alt="">
                <h3>Calculadora</h3>
                <p>calculadora científica para las operaciones aritméticas simples y calcular el porcentaje.</p>
            
                <a href="../views/calc.html" class="btn">Entrar</a>
            </div>

            <div class="box">
                <img src="../public/src/mapa.png" alt="">
                <h3>Map</h3>
                <p>Mapamundi una representación cartográfica de toda la superficie terrestre y ciertas ubicaciones</p>
            
                <a href="../views/map.html" class="btn">Entrar</a>
            </div>

            <div class="box">
                <img src="../public/src/clima.png" alt="">
                <h3>Clima</h3>
                <p>Clima te informa sobre el estado del clima como la temperatura, lluvia, nieve y viento. </p>
            
                <a href="../views/clima.html" class="btn">Entrar</a>
            </div>

            <div class="box">
                <img src="../public/src/snake.png" alt="">
                <h3>Snake</h3>
                <p> juego de serpientes en el que debes recolectar cubos para crecer. </p>
            
                <a href="../views/snake.html" class="btn">Entrar</a>
            </div>

            <div class="box">
                <img src="../public/src/crono.png" alt="">
                <h3>Cronometro</h3>
                <p>El cronómetro en línea cuenta el tiempo que pasa, en segundos, después de que haga clic en el botón Iniciar.</p>
            
                <a href="../views/crono.html" class="btn">Entrar</a>
            </div>

            <div class="box">
                <img src="../public/src/cifrado.png" alt="">
                <h3>Cifrado Cesar</h3>
                <p> Los cifrados por desplazamiento funcionan al usar el operador módulo para cifrar y descifrar mensajes.</p>
            
                <a href="../views/cifrado.html" class="btn">Entrar</a>
            </div>

            <div class="box">
                <img src="../public/src/listatarea.png" alt="">
                <h3>Lista de tarea</h3>
                <p> Un creador de listas de acciones pendientes fácil de usar que facilita las necesidades de tu equipo.</p>
            
                <a href="../views/listatarea.html" class="btn">Entrar</a>
            </div>

            <div class="box">
                <img src="../public/src/ahorcado.png" alt="">
                <h3>Juego del Ahorcado</h3>
                <p> ¿Puedes descubrir rápidamente cada una de estas palabras ocultas? Pon a prueba tu vocabulario en este intenso juego </p>
            
                <a href="../views/ahorcado.html" class="btn">Entrar</a>
            </div>

            <div class="box">
                <img src="../public/src/paletadecolores.png" alt="">
                <h3>Paleta de colores</h3>
                <p> El generador de paleta de colores es una herramienta gratuita diseñada para que encuentres automáticamente diferentes gamas de colores</p>
            
                <a href="../views/paletadecolores.html" class="btn">Entrar</a>
            </div>
        </div>
    </div>



    <script src="../public/js/menus.js"></script>
</body>
</html>